<div class="container mt-5">
<h1 class="mb-4">New Game</h1>

<ul class="list-unstyled d-flex">
<% @answer.each do |letter| %>

<li class="p-1 bg-primary mx-2 text-center text-white font-bold" style="width: 40px; font-size: 22px;"><strong><%= letter %></strong></li>

<% end %>
</ul>


<form action="/score" method="post" data-turbo="false">
  <div class="">
    <label for="answer" class="form-label mb-2">What's the longest word you can find?</label>
    <input type="text" name="answer" class="form-control mb-3">
    <button type="submit" class="btn btn-primary">Submit Answer</button>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

</div>
